.example-card {
  max-width: 400px;
}

div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.tooltip {
  background-color: blue; 
  color: black; 
}