<main class="test">
  <!-- <app-form></app-form> -->
  <!-- <dialog-content-example></dialog-content-example> -->

  <div class="container">
    <header class="header">
      <h1>Welcome to My Professional Angular App</h1>
      <nav class="navbar">
          <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Home</a>
          <a routerLink="/firstComponent" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">First Component</a>
          <a routerLink="/secondComponent" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Second Component</a>
          <a routerLink="/form" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Form Component</a>
          </nav>
      </header>
  </div>
</main>

<router-outlet></router-outlet>
<!-- <app-new-form></app-new-form> -->

<!-- <app-new></app-new> -->
<!-- <h1>component</h1> -->